body{
   font-family: 'Montserrat', sans-serif;
   background: #E5E5E5;
   height: 1399px;
   max-width: 1280px;
   
   border-radius: 0px;
   margin: 40px auto;
}

h1{
   font-weight: bold;
   font-size: 45px;
   line-height: 55px;
   color: #000000;
   padding: 0 0 0 0;
}

h2{
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   padding: 60px 0 0 0;
}

.container {
   display: flex;
   flex-direction: row-reverse;
   background-color: #FFFFFF;
   flex: 0 1 auto;
   
}

.container > h1,h2,h3,h4{
   color: #000;
}

.education h4{
   color: #FB6D3A;
}

.main-content {
   max-width: 830px;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
   padding: 0 0 0 88px;
}

.main-content h3{
   font-size: 22px;
}

.about-me {
}
.about-me > p{
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   padding: 0 95px 0 0;
   
}
.projects {
   font-size: 14px;
   line-height: 24px;
   color: #595959;
}

.projects a{
   color: #595959;
}

.projects a:hover{
   color:#000;
   text-shadow: 0.3px 0.3px #000;
}

.projects span{
   font-weight: 600;
   opacity: 0.8;
}

.work-experience {
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   max-width: 725px;
}

.work-experience span {
   color: #FB6D3A;
}

.education {
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   margin-bottom: 105px;
}

.sidebar__main {
   background-color: #1E2939;
   max-width: 370px;
   color: #fff;
}

.sidebar{
   padding: 0 0 45px 40px;
   font-size: 14px;
   line-height: 24px;
}

.sidebar__title{
   color: #fff ;
   font-size: 22px;
   line-height: 27px;
   font-weight: 700;
}

.contacts :hover{
   text-shadow: 0.4px 0.4px rgb(221, 245, 6);
}

.contacts a{
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
   padding-right: 17px;
   opacity: 0.5;
}

.contacts span{
   margin-right: 7px;
}

.tech-skills {
   
}
.soft-skills {
   
}
.foto{
   padding: 40px 0;
   max-width: 370px;
}

.sidebar h3{
   color: #FFFFFF;
}
.list{
   
}

.list li{
   color: #FB6D3A;
}

.list li span{
   color: #FFFFFF;
}